@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: #2A2C2C;
    height: 7.5vh;
}

.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 7.5vh;
    margin-left: 80px;
    margin-right: 80px;
}

.logo-container {
    position: relative;
    height: 7.5vh;
    width: 20%;
    display: flex;
    align-items: center; 
}

.logo-container::before {
    content: "";
    position: absolute;
    left: 0px; 
    height: 30px; 
    width: 4px;  
    background-color: #fff; 
}

.logo-text {
    font-size: 20px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 700;
    font-family: "Poppins";
}

.nav-list {
    display: flex;            
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 70px;     
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 400;
    font-family: "Poppins";
}

.material-symbols-outlined {
    color: #fefeff;
    margin-left: 85px;
    cursor: pointer;
}

/* CONTACT */
.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
 
.contact-form {
    width: 400px;
    margin-left: 20%;
    margin-top: 2%;
}
 
.contact-form input[type="text"],
.contact-form input[type="email"]
{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-family: "Poppins";
    height: 30px;
}
 
.contact-form button {
    background-color: #323232;
    font-size: 17px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fdfdfe;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    padding: 20px 55px;
    margin-top: 20%;
}
 
.client-review {
    width: 400px;
    padding: 20px;
 
    border-radius: 5px;
    margin-right: 34%;
    margin-top: 3%;
}
 
.client-review img {
    width: 141px;
    height: 120px;
    margin-bottom: 15px;
}
 
.client-review p {
    margin-bottom: 15px;
}
 
.client-review .name {
    font-weight: bold;
}
 
.client-review .quote {
    font-style: italic;
    font-size: 18px;
}
 
 
.contact-form input[type="Message"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    height: 90px;
    font-family: "Poppins";
}

.background{
position: absolute;
width: 600px;
height: 355px;
background-color:#fffff;
margin-top: 11%;
margin-left: 41.3%;
}
.profile{
    width: 141px;
    height: 120px;
    z-index: 1;
    position: relative;
    margin-left: 22%;
    top: 15%;
}
.user-name {
    font-weight: bold;
    font-size: 24px;
line-height: 28px;
color: #323232;
font-weight: 700;
font-family: "Poppins";
position: absolute;
margin-left: 13%;
}
.ptext{
    position: absolute;
    margin-left: 4.7%;
    margin-top: 5%;
}
.back1{
    position: relative;
    margin-top: 70%;
    margin-left: 35%;
}

.arrow1{
    position: absolute;
    margin-left: 35%;
    margin-top: 30% 
}

.button {
    display: inline-block;
    border: none;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 4px 2px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    z-index: 3;
    margin-top: 13%;
  }
  
  .button-left {
    background-color: #252525;;
    color: white;
    margin-left: 30%;
  }
  
  .button-right {
    background-color: white;    
    color: black;
  }
  
  .button:hover {
    background-color: #ddd;
  }

.line{
    position: absolute;
    margin-top: -3%;
}

.rew{
    margin-top: -5%;
    margin-left: 19%;
}

.touch{
    margin-bottom: 15%;
}

.icons{
    position: absolute;
    font-size: 24px ;
    margin-left: 25%;
    margin-top: -0.2%;
}