@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: #2A2C2C;
    height: 7.5vh;
}

.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 7.5vh;
    margin-left: 80px;
    margin-right: 80px;
}

.logo-container {
    position: relative;
    height: 7.5vh;
    width: 20%;
    display: flex;
    align-items: center; 
}

.logo-container::before {
    content: "";
    position: absolute;
    left: 0px; 
    height: 30px; 
    width: 4px;  
    background-color: #fff; 
}

.logo-text {
    font-size: 20px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 700;
    font-family: "Poppins";
}

.nav-list {
    display: flex;            
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 70px;     
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 400;
    font-family: "Poppins";
}

.material-symbols-outlined {
    color: #fefeff;
    margin-left: 85px;
    cursor: pointer;
}

/* PORTFOLIO */
.portfolio-container {
    border: 1px solid black;
    width: 50%;
    height: 60vh;
    margin: 10vh auto;
}

.pc-text {
    font-size: 45px;
    line-height: 28px;
    color: #141414;
    font-weight: 700;
    font-family: "Poppins";
    margin-bottom: 10px;
    margin-top: 0px;
}

.image-containers {
    width: 100%;
    border: 1px solid blue;
}

.container-A {
    width: 40%;
    height: 32vh;
    border: 1px solid red;
}

.container-B {
    width: 40%;
    height: 32vh;
    border: 1px solid green;
}

