<<<<<<< HEAD
=======

/* 
    RAŠOMOS KLASĖS TAIP :
    ->>>>> PAYPAL-BUTTON

    PALIEKAMI KOMENTARAI PRIE KLASIU KATEGORIJU
    --- BUTTONS
    button {
    color: white;
    padding: PX;
    background-color: green;
    }

    --- TEXT
    p {
    color: white;
    font-size: px;
    }
*/

body{
    background-color: wheat;
}



>>>>>>> 489ff093981018a9b44d1e0e7deadaf9da6252e9
