@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */

header {
    background-color: #2A2C2C;
    height: 7.5vh;
}

.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 7.5vh;
    margin-left: 80px;
    margin-right: 80px;
}

.logo-container {
    position: relative;
    height: 7.5vh;
    width: 20%;
    display: flex;
    align-items: center; 
}

.logo-container::before {
    content: "";
    position: absolute;
    left: 0px; 
    height: 30px; 
    width: 4px;  
    background-color: #fff; 
}

.logo-text {
    font-size: 20px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 700;
    font-family: "Poppins";
}

.nav-list {
    display: flex;            
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 70px;     
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    color: #fefeff;
    font-weight: 400;
    font-family: "Poppins";
}

.material-symbols-outlined {
    color: #fefeff;
    margin-left: 85px;
    cursor: pointer;
}

/* WHAT WE DO */

.card-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.text h2 {
    font-size: 30px;
    line-height: 1px;
    text-transform: uppercase;
    color: #464646;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-top: 80px;
}

.text hr {
    font-size: 40px;
    border: 3px solid #464646;
    width: 3%;
}

h3 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #292929;
    font-weight: 700;
    font-family: "Poppins";
}

.card {
    width: 368px;
    height: 486px;
    border: 1px solid #292a2c;
    margin-right: 20px;
    text-align: center;
}
.card-1 {
    width: 368px;
    height: 486px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    text-align: center;
}
.card-2 {
    width: 368px;
    height: 486px;
    border: 1px solid lightgray;
    text-align: center;
}
.card-content {
    padding: 30px;
    text-align: left;
}
p {
    width: 250px;
    height: auto;
    font-size: 17px;
    line-height: 28px;
    color: #292929;
    font-family: "Poppins";
}

.card-content button {
    display: inline-block;
    width: 40%;
    height: 35px;
    background-color: #4b4e4e;
    color: white;
    margin-top: 70px;
    margin-left: 150px;
}

.card img {
    width: 25%;
    display: block;
}

.card-1 img {
    width: 20%;
    display: block;
}

.card-2 img {
    width: 25%;
    display: block;
}

.arrow-button-left {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
